<%= sidebar_section_for(t(".title")) do %>
  <div class="facebook-like">
    <div class="fb-like" data-href="https://www.facebook.com/racevirtually" data-width="253" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
  </div>
<% end %>
